<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../resources/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>RenBoNow</title>
</head>

<body style="background-color: #f1f1f1;">
    <div class="h-50 bg-purple position-absolute w-100"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-sm-2 mb-xl-0">
                <div class="col-xl-12 col-sm-12 mb-xl-0">
                    <nav id="sidebarMenu"
                        class="position-relative d-md-block bg-light sidebar collapse shadow-sm rounded-3 fixed-start my-3">
                        <div class="position-sticky pt-3" style="min-height: 85vh">
                            <ul class="nav nav-pills flex-column mb-auto">
                                <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 m-2 text-dark" href="#">RenBoNow</a>
                                <li class="nav-item mt-3 mb-3">
                                    <a th:href="@{/dashboard}" class="nav-link active " aria-current="page">
                                        <span class="bi-speedometer" width="16" height="16"> Dashboard</span>
                                    </a>
                                </li>
                                <li class="mb-3">
                                    <a class="nav-link link-dark dropdown" href="#usertype" data-bs-toggle="collapse"
                                        aria-expanded="false">
                                        <span class="bi bi-person-circle" width="16" height="16"> Item </span> <i
                                            class="bi small bi-caret-down-fill"></i>
                                    </a>
                                    <div class="list-group text-small collapse border-0" id="usertype">
                                        <a class="list-group-item list-group-item border-0" th:href="@{/Item/Add}"><span
                                                class="bi small bi-caret-right-fill"> Add Item</span></a>
                                        <a class="list-group-item list-group-item border-0"
                                            th:href="@{/Item/List}"><span class="bi small bi-caret-right-fill"> Item
                                                List</span></a>
                                    </div>
                                </li>
                                <li class="mb-3">
                                    <a href="#" class="nav-link link-dark" aria-current="page">
                                        <span class="bi bi-bag-check-fill" width="16" height="16"> Transaction</span>
                                    </a>
                                </li>
                                <li class="mb-3">
                                    <a href="#" class="nav-link link-dark" aria-current="page">
                                        <span class="bi bi-graph-up-arrow" width="16" height="16"> Sales</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link link-dark">
                                        <span class="bi bi-people" width="16" height="16"> Customers</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-sm-10">
                <main class="my-3 ">
                    <header class="navbar navbar-light navbar-expand-lg flex-md-nowrap text-white mb-3 pe-4">
                        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="w-75"><span class="fs-5 fw-bold ">Dashboard</span><br><span
                                class="text-white">Monday</span><span class="text-white"> ,15 July 2021</span></div>
                        <div class="w-25">
                        </div>
                        <div class="navbar-nav ">
                            <div class="nav-item text-nowrap d-flex dropdown">
                                <a class="nav-link px-3 text-white" href="#"><span class="bi bi-envelope"></span></a>
                                <a class="nav-link px-3 text-white" href="#"><span class="bi bi-bell"></span></a>
                                <a href="#"
                                    class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle dropstart text-white"
                                    id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span th:text="${Owner}"></span>
                                </a>
                                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                    <li><a class="dropdown-item" href="#">New project...</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                    </header>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 mb-xl-0">
                            <div class="card p-3 bg-light border-0">Rental/Borrow<br>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="numbers">
                                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's
                                                    Money</p>
                                                <h5 class="font-weight-bolder">
                                                    $53,000
                                                </h5>
                                                <p class="mb-0">
                                                    <span class="text-success text-sm font-weight-bolder">+55%</span>
                                                    since yesterday
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div
                                                class="icon icon-shape bg-warning bg-gradient shadow-primary text-center rounded-circle">
                                                <i class="bi bi-receipt opacity-10" id="icon-dash"
                                                    aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-xl-0">
                            <div class="card p-3 bg-light border-0">Items<br>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="numbers">
                                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's
                                                    Money</p>
                                                <h5 class="font-weight-bolder">
                                                    $53,000
                                                </h5>
                                                <p class="mb-0">
                                                    <span class="text-success text-sm font-weight-bolder">+55%</span>
                                                    since yesterday
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div
                                                class="icon icon-shape bg-warning bg-gradient shadow-primary text-center rounded-circle">
                                                <i class="bi bi-shop opacity-10" id="icon-dash" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-xl-0">
                            <div class="card p-3 bg-light border-0">Sales<br>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="numbers">
                                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's
                                                    Money</p>
                                                <h5 class="font-weight-bolder">
                                                    $53,000
                                                </h5>
                                                <p class="mb-0">
                                                    <span class="text-success text-sm font-weight-bolder">+55%</span>
                                                    since yesterday
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div
                                                class="icon icon-shape bg-warning bg-gradient shadow-primary text-center rounded-circle">
                                                <i class="bi bi-cart4 opacity-10" id="icon-dash" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-xl-0">
                            <div class="card p-3 bg-light border-0">Customers<br>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="numbers">
                                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's
                                                    Money</p>
                                                <h5 class="font-weight-bolder">
                                                    $53,000
                                                </h5>
                                                <p class="mb-0">
                                                    <span class="text-success text-sm font-weight-bolder">+55%</span>
                                                    since yesterday
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div
                                                class="icon icon-shape bg-warning bg-gradient shadow-primary text-center rounded-circle">
                                                <i class="bi bi-people opacity-10" id="icon-dash"
                                                    aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-sm-12 mb-xl-0 mt-3">
                            <div class="card p-3 bg-light border-0">Sales<br>
                                <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-xl-0 mt-3">
                            <div class="card p-3 bg-light border-0">Popular<br>
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="..." class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">This is a wider card with supporting text below as
                                                    a natural lead-in to additional content. This content is a little
                                                    bit longer.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                        ago</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

    </div>
    <footer class="bg-light position-absolute w-100">
        <div class="text-center p-4">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
    </footer>
    </div>

    <script>
        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>